In [2]:
import pandas as pd

In [15]:
wifi = pd.read_csv('wifi/t1_1_18-41-49_03-08-2019.csv',header=None)
wifi.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,NaN,wifi,18:41:51,scloud_5G (b0:39:56:f4:4e:8b),866,-40,-40,-40,87%,87%,28.538412,77.343777
1,2,NaN,wifi,18:41:52,scloud_5G (b0:39:56:f4:4e:8b),866,-41,-40,-40,87%,87%,28.538412,77.343777
2,3,NaN,wifi,18:41:53,scloud_5G (b0:39:56:f4:4e:8b),866,-42,-41,-40,85%,86%,28.538662,77.343995
3,4,NaN,wifi,18:41:54,scloud_5G (b0:39:56:f4:4e:8b),866,-45,-42,-40,82%,85%,28.538662,77.343995
4,5,NaN,wifi,18:41:55,scloud_5G (b0:39:56:f4:4e:8b),866,-46,-42,-40,80%,84%,28.538662,77.343995

In [16]:
list(wifi[7])

[-40,
 -40,
 -41,
 -42,
 -42,
 -43,
 -43,
 -44,
 -44,
 -45,
 -45,
 -45,
 -45,
 -46,
 -46,
 -46,
 -46,
 -46,
 -47,
 -46,
 -46,
 -46,
 -45,
 -45]

In [41]:
ble = pd.read_csv('C:/Users/Ritesh Naik/Desktop/collected_data/moving_data/ble/t1.1.txt', header=None)

In [42]:
ble.head()

,0,1,2,3
0,01-01 05:34:25.204+0530 I/BLE_DEMO_TV(P 3601,T 3601): wireless_tagging_main.c:67 ----> RSS...,status 1,mac [54:B8:02:83:10:3A]
1,01-01 05:34:25.469+0530 I/BLE_DEMO_TV(P 3601,T 3601): wireless_tagging_main.c:67 ----> RSS...,status 1,mac [54:B8:02:83:10:3A]
2,01-01 05:34:25.749+0530 I/BLE_DEMO_TV(P 3601,T 3601): wireless_tagging_main.c:67 ----> RSS...,status 1,mac [54:B8:02:83:10:3A]
3,01-01 05:34:26.159+0530 I/BLE_DEMO_TV(P 3601,T 3601): wireless_tagging_main.c:67 ----> RSS...,status 1,mac [54:B8:02:83:10:3A]
4,01-01 05:34:26.291+0530 I/BLE_DEMO_TV(P 3601,T 3601): wireless_tagging_main.c:67 ----> RSS...,status 1,mac [54:B8:02:83:10:3A]

In [46]:
data = list(ble[1].apply(lambda string: string.split('rssi')[-1]).apply(int))

In [47]:
data

[-76,
 -78,
 -75,
 -77,
 -73,
 -75,
 -76,
 -76,
 -76,
 -76,
 -77,
 -78,
 -77,
 -79,
 -81,
 -83,
 -83,
 -81,
 -79,
 -78,
 -81,
 -84,
 -85,
 -84,
 -84,
 -83,
 -85,
 -86,
 -84,
 -83,
 -80,
 -81]